# This is Git's per-user configuration file.
[core]
	filemode = false
    autocrlf = input
    safecrlf = warn
[user]
	name = alan liang @vapps
	email = alan.liang@xcerra.com
[alias]
	co = checkout
	br = branch
	ci = commit
	cm = commit
	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
    ll = log --oneline --graph --decorate --color
    l  = log --oneline --graph --decorate --color -n 20
    lla = log --oneline --graph --all --decorate --color
    la  = log --oneline --graph --all --decorate --color -n 20
[push]
    # for git > 2.0 
	default = simple
    # for git < 2.0 
	#default = tracking
[diff]
    tool = vimdiff
[diff "nodiff"]
    command = /bin/true
[difftool]
    prompt = no
[filter "unoversion"]
    #clean  = sed '1s/\\(Unison:SyntaxRevision1709\\)\\(.[0-9]\\+\\)\\{0,1\\}/\\1/'
    #smudge = sed '1s/\\(Unison:SyntaxRevision1709\\)\\(.[0-9]\\+\\)\\{0,1\\}/\\1.1/'
